{% extends "base.html" %}
{% block home %}
    active
{% endblock home %}
{% block content %}
    <div>
	What do you know about your government?
    </div>
    <div>
	You probably know who the <a> Prime Minister</a> is.
    </div>
    <div>
	You probably know who your <a> Local MP </a> is.
    </div>

    <div>
	But do you know who the current <a>Defense Secretary</a> is? Or the <a> Housing Minister</a> or the <a> Secretary of State for Digital, Culture, Media and Sport</a>?
	I'm assuming that most people don't (full disclosure, I have done literally no research) and that's fine, however was trying to find out a few things one day and discovered that there's no definitive exhaustive repository of governmental information on the internet, at least not in the form which I wanted (Wikipedia is of course the obvious go-to here but for certain types of information, especially that which is politically sensitive, it's extreme collaborative approach to content is not necessarily the best fit.
    </div>
    <div>
	So that's basically it, this is intended as nothing more as a general repository for information about the current goverment and it's members. Although I'll endeavour to be as neutral as I can where the situation calls for it I make no claims or promises to neutrality. 
    </div>

    <div>
	A large part (the largest part?) of my motivation for this project was to get to know some new techologies, I'm a software developer by trade and am always looking to try out new things. As such the site may often start behaving or looking strange as I screw around with and, inevitably, break things.
    </div>
    <div>
	As you may also have been able to glean from a cursory look I am no designer and make no claims to be so I do feel I must apologise for any and all crimes against taste I am guaranteed to commit during the construction, styling and maintenance of this site.
    </div>
    <div>
	If you're interested in how I built the site, I'm going to be trying to keep track of all the build tools and frameworks I've been using on my <a> blog </a>. Otherwise, if you want to take a look at the code itself, It's all hosted in my <a href="https://gitlab.com/MacFarlaneBro/know-your-mp"> gitlab </a>
    </div>
{% endblock content %}
